.counter {font-family: 'Poppins', sans-serif;
text-align: center;
width: 200px;
margin: 0 auto;
}
.counter .counter-content{
color: #fff;
background: #14A0C1;
min-height: 193px;
padding: 35px 10px 60px;
margin: 0 0 0 35px;
clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
}
.counter .counter-icon{
font-size: 40px;
margin: 0 0 5px;
}
.counter h3{
font-size: 17px;
font-weight: 500;
letter-spacing: 0.5px;
text-transform: uppercase;
margin: 0;
}
.counter .counter-value{
color: #fff;
background: linear-gradient(rgb(0, 225, 255) , rgb(12, 141, 141));
box-shadow:  0  0  5px rgba(0, 0, 0, 0.413);
font-size: 35px;
font-weight: 600;
text-shadow: 0 0 10px rgba(0,0,0,0.3);
width: 155px;
padding: 10px 5px 7px;
margin: -33px 0 0;
border-radius: 20px 20px 0 0;
display: block;
position: relative;
}
.counter .counter-value:after{
content: '';
background: linear-gradient(to top left, transparent 49%, #0E7385 50%);
height: 35px;
width: 45px;
position: absolute;
bottom: 0;
right: -45px;
}

.counter.purple .counter-content{ background: #5058AB; }
.counter.red---count .counter-content{ background: #850a4b; }
.counter.red---count .counter-value{ background: linear-gradient(#850a4b , rgb(84, 31, 68)); box-shadow:  0  0  5px rgba(0, 0, 0, 0.413);}
.counter.purple .counter-value{ background: linear-gradient(#5058AB , rgb(15, 51, 105))}
.counter.purple .counter-value:after{
background: linear-gradient(to top left, transparent 49%, #132A87 50%);
}
@media screen and (max-width:990px) {
.counter{ margin-bottom: 40px; }
}
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
.admin---title{
    font-size: 40px;
    font-family: 'Croissant One', cursive;
}